body{
    font-family: Arial, Helvetica, Sans-serif;
    background-color: rgb(100, 145, 145);
    text-align: center;
}
h1{
    color:rgb(3, 3, 51);
}

section{
    background-color: beige;
    border: 2px solid yellow;
    border-radius: 12px;
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
}